/.idea/*
/.vs/*
/Binaries/*
/Intermediate/*
/DerivedDataCache/*

/Plugins/*
!/Plugins/TSlate/
/Plugins/TSlate/*
!/Plugins/TSlate/Source/
!/Plugins/TSlate/TSlate.uplugin

/Content/*
!/Content/Assets/
-/Content/Assets/
/Saved/*

UEDemoC.uproject