/.idea/*
/.vs/*
/Binaries/*
/Config - Copy/*
/Intermediate/*
/DerivedDataCache/*
/Plugins/*


/Content/*
!/Content/Assets/
-/Content/Assets/


/Saved/*




UEDemoC.sln
UEDemoC.uproject
Import/蒙德城.blend
